header {
    // background-color: $clr5;
    background-color: cadetblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
}

nav {
    font-family: Source-Sans;
    
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    a {
        padding: 0 10px;
        // color: #606060;
        color: whitesmoke;
    }
    a:not(:last-child){
        border-right: 1px solid grey;
    }
}

nav .active {
    color: $clr1;
}

.nav-right-side {
    grid-gap: 10px;
    justify-content: space-between;
}

.user-greet {
    grid-gap: 5px;
}
.logo{
    font-family: 'Monoton', cursive;
}

.logo a{
    color: white;
}
.logo span{
    font-family: 'Poiret One', cursive;
}