header {
    background-color: $clr5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
}

nav {
    font-family: Acme;
    background-color: #fff;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
}

nav .active {
    color: $clr1;
}
