.hero-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .hero-content {
        position: relative;
        z-index: 15;
    }

    .logo {
        position: relative;
        z-index: 3;
        width: 500px;
        margin: -30px auto
    }
    .call-to-action {
        text-align: center;
    }
    button {
        margin: 30px auto;
        width: 260px;
        font-size: 1.8rem;
        border-radius: 5px;
        padding: 10px;
        font-family: "Source-Sans";
        cursor: pointer;
        // background-color: $clr3;
        background-color: #7f6ed1;
        color: whitesmoke;
        border: solid rgb(249, 249, 250) 2px;
        transition: all .3s ease-in-out;
        &:hover{
            background-color: white;
            border: solid #7f6ed1 2px;
            a{
                color: #7f6ed1;
            }
        }
        a{
            color: rgb(255, 255, 255);
        }
    }
    
    &__image {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url("../../img/jam-session.jpeg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    .hero-title {
        color: #000;
        font-family: 'Special Elite', cursive;
        font-size: 5.8rem;
        text-align: center;
        z-index: 2;
        p,span {
            background-color: rgba(255, 255, 255, 0.671);
            width: fit-content;
            margin: auto;
            padding: 16px 16px 0px 16px;
            margin-top: 14px;
        }
    }
}

.arrows {
    width: 60px;
    height: 75px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 2%;
    cursor: pointer;
}

.arrows path {
    stroke: #2f3234;
    fill: transparent;
    stroke-width: 6px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
    
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
