.jam-card {
    background-color: #e8e4e4;
    .jamThumb{
        height: 100%;
        width: 130px;
        margin-right: 5px;
    }
    .jam-inst {
        position: absolute;
        width: 30px;
        border-radius: 50%;
        background-color: rgb(184, 184, 184);
        bottom: 0;
    }
}

.jam-card-content {
    p {
        display: flex;
        align-items: center;
        font-size: rem(16px);
        margin-bottom: 5px;
    }
    .date {
        display: flex;
        align-items: center;
    }
    .date-slots {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            display: flex;
            align-items: center;
        }
    }
}

.jam-card-tags {
    margin: 5px;
    grid-gap: 4px;
    * {
        border-radius: 4px;
        background-color: #e9bd5b;
        padding: 3px;
        color: black;
        border: 1px solid grey;
        font-size: rem(14px);
    }
}