.jam-card {
    background-color: $clr-card;
    justify-content: space-between;
    width: 480px;
    height: 300px;
    transition: all 0.5s ease-in-out;
    h2{
        
        font-size: 1.1em;
        text-align: center;
    }
    &:hover{
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    .thumb-wrapper {
        border-radius: 6px;
        height: 60%;
        @include aspect-ratio(488, 150)
    }
    
}

.user-inst-icon {
    left: 7px;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(216, 210, 210);
    border: 1px solid black;
    bottom: 0;
}

.jam-card-content {
    width: 100%;
    align-items: center;
    p {
        display: flex;
        align-items: center;
        font-size: rem(16px);
        margin-bottom: 5px;
    }
    .date {
        display: flex;
        align-items: center;
    }
    .date-slots {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 6px;
        font-size: 0.9em;
        width: 100%;
        span {
            display: flex;
            align-items: center;

        }
    }
}

.jam-card-tags {
    margin: 5px;
    grid-gap: 4px;
    * {
        border-radius: 4px;
        background-color: #e9bd5b;
        padding: 3px;
        color: black;
        border: 1px solid grey;
        font-size: rem(14px);
    }
}