.navbar {
    // background-color:transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 99;
}
  
.navbar a {
    float: left;
    display: block;
    // color: #1d1c1c;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    // font-size: 17px;
}
.loggedin-avatar {
    width: 3%;
}
// .navbar a:hover {
//     background-color: #ddd;
//     border-bottom: 1px black;
//     color: black;
// }
.logo{
    font-family: 'Monoton', cursive;
}

.logo span{
    font-family: 'Poiret One', cursive;
}
.navbar :not(:first-child) a{
    position: relative;
    color: #000;
}
.navbar :not(:first-child) a:hover{
    color: rgb(24, 21, 21);
    
}
.navbar :not(:first-child) a::before{
    color: rgb(31, 30, 30);
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(117, 111, 111);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    
}

