.user-card {
    background-color: #fff;
    width: $user-card-width;
    border-radius: 4px;
    justify-content: center;
    transition: 0.3s;

    .img-wrapper {
        @include aspect-ratio(194, 194);
    }
    &:hover {
        position: relative;
        top: 3px;
        cursor: pointer;
    }
}

.user-inst-icons-wrapper {
   
    .user-inst-icon {
        left: 0;
        position: absolute;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(216, 210, 210);
        border: 1px solid black;
        bottom: 0;
    }
    *:nth-child(2){
        left:10%;
    }
    *:nth-child(3){
        left:20%;
    }
}
.user-card-content {
    width: 100%;
    background-color: $clr-card;
    align-items: center;
    p {
        display: flex;
        align-items: center;
        font-size: rem(16px);
        margin-bottom: 5px;
    }
    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.3em;
        text-align: center;
    }
}

.user-card-tags {
    margin: 5px;
    grid-gap: 4px;
    * {
        border-radius: 4px;
        background-color: #e9bd5b;
        padding: 3px;
        color: black;
        border: 1px solid grey;
        font-size: rem(14px);
    }
}
