.user-card {
    background-color: #fff;
    width: $user-card-width;
    border-radius: 4px;
    justify-content: center;
    border: 2px solid rgba(128, 128, 128, 0.337);
    transition: all 0.3s ease-in-out;
    .img-wrapper {
        @include aspect-ratio(194, 194);
    }
    &:hover{
        box-shadow: 0 16px 64px 6px rgba(46, 55, 77, 0.318);
        cursor: pointer;
    }
}

.user-inst-icons-wrapper {
    .user-inst-icon {
        left: 0;
        position: absolute;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(216, 210, 210);
        border: 1px solid black;
        bottom: 0;
    }
    *:nth-child(2){
        left:10%;
    }
    *:nth-child(3){
        left:20%;
    }
}
.user-card-content {
    width: 100%;
    background-color: $clr-card;
    align-items: center;
    p {
        display: flex;
        align-items: center;
        font-size: rem(16px);
        margin-bottom: 5px;
    }
    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.075rem;
        text-align: center;
        color: #535252;
    }
}

.user-card-tags {
    margin: 5px;
    grid-gap: 4px;
    * {
        border-radius: 4px;
        // background-color:#5f9ea0;
        background-color:#5f9ea0ed;
        padding: 3px;
        color: rgb(255, 255, 255);
        border: transparent;
        font-size: rem(14px);
    }
}
