// Font Sizes
.fs12 { font-size: rem(12px); }
.fs14 { font-size: rem(14px); }
.fs18 { font-size: rem(18px); }
.fs20 { font-size: rem(20px); }
.fs24 { font-size: rem(24px); }
.fs28 { font-size: rem(28px); }
.fs30 { font-size: rem(30px); }
.fs40 { font-size: rem(40px); }

.pos-relative {position: relative;}
.red {color: red;}
.green {color: rgb(86, 181, 86);}
.white{color:white;}
.gray{ color: #929292}
// flex helpers

.flex {

    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.row {
        flex-direction: row;
    }
    &.space-between {
        justify-content: space-between;
    }
    // &.flex-end{

    // }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}
 
//cursor-pointer
.cursor-pointer{
    cursor: pointer;
}

.loader{
 position: absolute;
 top:40%;
 left:50%;
 transform: translateX(-50%);
}

.staatliches{
    font-family: 'Staatliches', cursive;
}

.special-slite{
    font-family: 'Special Elite', cursive;
}

.righteous{
    font-family: 'Righteous', cursive;
}
.barrio{
    font-family: 'Barrio', cursive;
}
.pdding{
    padding: 0;
}