.main-container {
    background-color:#F6F9FC;
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-mobile-layout {
        grid-template-columns: 
            minmax(0px, 0fr)
            minmax(auto, $mobile-breakpoint)
            minmax(0px, 0fr);
    }
    @include for-narrow-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $wide-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-full-layout {
        grid-template-columns: 
            minmax(0px, 0fr) 
            minmax(auto, 99.2vw) 
            minmax(0px, 0fr);
    }
}
