.home {
    margin-top: -$nav-height;
}

.main-content {
    // min-height: calc(100vh - $nav-height);
    min-height: calc(100vh - 82px);
}

.zebra-container {
    .section:nth-child(even){
        background-color: #fff;
    }
}

.jams-filter {
    padding: 4px 8px;
    background-color: #d6d6d6;
    color: #232323;
    border-radius: 4px;
    font-family: "Source-Sans";
}

.user-list {
    padding: 10px 0;
    display: grid;
    // grid-template-rows: repeat(auto-fill,290px);
    grid-template-columns: repeat(auto-fit,$user-card-width);
    grid-gap: 30px;
    justify-content: center;
}

.title-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #695da2;
    a {
        font-size: 1.5rem;
        margin-right: 30px;
        font-family: 'Staatliches', cursive;
    }
    h1 {
    padding-left: 25px;   
    font-size: 3rem;
    }
    
}
.title-row-members{
    display: block;
    margin-top: 30px;
    // text-align: end;
    justify-content: space-between;
    align-items: baseline;

}
.purple{
    color: darkslateblue;
}

footer{
 display: flex;
    img{
        width: 190px;
    }
}
@media (max-width: $narrow-breakpoint) {
    .hero .logo {
        width: 250px;
    }
    .hero .hero-content,
    .home {
        margin: 0;
    }
    // .title-row,
    .hero-title p{
        font-size: 3rem;
    }
    .hero button {
        width: 200px;
        font-size: 1.5rem;
    }
    .section h1 {
        font-size: 2rem;
    }
}