.home {
    margin-top: -82px;
}

.main-content {
    min-height: 100vh;
}

.jams-filter {
    padding: 4px 8px;
    background-color: #d6d6d6;
    color: #232323;
    border-radius: 4px;
    font-family: "Source-Sans";
}

.user-list {
    padding: 10px 0;
    display: grid;
    // grid-template-rows: repeat(auto-fill,290px);
    grid-template-columns: repeat(auto-fit,228px);
    grid-gap: 10px;
    justify-content: center;
}
