.main-content {
    height: 100vh;
}

.jams-filter {
    padding: 4px 8px;
    background-color: #d6d6d6;
    color: #232323;
    border-radius: 4px;
    font-family: "Source-Sans";
}

.section {
    h1 {
        text-align: center;
    }
    // background-color: #dee4de;
    background-color: $clr-container;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px;
}
.guest,
.user-filtered-container {
    width: 49%;
}
.members-container {
    margin: 20px auto;
    background-color: $clr-container;
    border-radius: 10px;
    width: 49%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.members-list-preview {
    text-align: center;
}

.user-list {
    padding: 10px 0;
    display: grid;
    grid-template-rows: repeat(auto-fill,200px);
    grid-template-columns: repeat(auto-fill,200px);
    grid-gap: 10px;
    justify-content: center;
}
