.page-con {
    color: rgb(158, 154, 154);
}

.jam-title-img-con {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(228, 224, 224, 0.056), rgba(255, 255, 255, 0.714)),
        url("../../img/What-is-a-jam-session.jpg");
}

.jam-title {
    color: rgb(247, 240, 240);
    position: relative;
    top: 300px;
    left: 50px;
    font-weight: bold;
    font-size: 40px;
}

.icon-style {
    color: rgb(158, 154, 154);
}

.title-style {
    color: rgb(92, 91, 91);
}

.page-content {
    display: flex;
    justify-content: space-around;
}

.left-page-details {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background-color: rgb(222, 228, 222);
    border-radius: 10px;
}

.details-con {
    margin-top: 20px;
}

.description-con {
    margin-top: 20px;
}

.location-con {
    margin-top: 20px;
}

.jam-details-navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-left{
    display: flex;
    justify-content: space-between;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
}



.jammers{
    position: relative;
    display: inline-block;
    margin-top: 27px;
    // display: inline-block;
//   border-radius: 50%;
//   overflow: hidden;
//   width: 100px;
}

// .jammers:not(:first-child) {
    // margin-left: -60px;
    // mask:radial-gradient(circle 55px at 5px 50%,transparent 99%,#fff 100%);
    // clip-path: circle(50% at 50% 50%);
// }

  .jammers img:nth-child(2) {
      left:10% ;
  }
  .jammers img:nth-child(3) {
      left:20% ;
  }
  .jammers img{
    position: absolute;
    width:15%;
    display: block;
  }
  