
.search-area{
    margin: 15px;
   
    // box-shadow: -1px 5px 11px 0px rgba(170, 158, 158, 0.75);
    // border-radius: 3px;
}

.search-area input{
    outline: none;
    border: none;
    padding: 8px;
    width: 250px;
    border:none;
}
.input-box{
    width: 274px;
     border-bottom: 1px solid rgb(10, 10, 58);
}


.search-icon{
    color: #929292;
}