
.left-side {
    flex-grow: 1;
}

.user-box {
    margin-top: 40px;
    width: 60%;
    margin: 50px auto;
    justify-content: space-between;
}

.user-basic-info {
    margin-bottom: 15px;
}

.location-icon {
    display: inline;
    color: #929292;
}

.user-box li {
    display: inline;
    margin: 3px;
}
.user-tags {
    margin: 5px;
    gap: 5px;
    li {
        border-radius: 4px;
        background-color: #695da2;
        padding: 3px;
        color: white;
        font-size: 1rem;
    }
}

.user-img {
    @include aspect-ratio(200, 200);
    width: 200px;
    margin: auto;
    img {
        border-radius: 50%;
    }
}

.user-location span {
    color: #929292;
}

.user-stage-name {
    color: rgb(37, 36, 43);
}

.user-tags-name {
    justify-content: flex-start;
    padding-top: 20px;
}

.reaction-icon {
    color: #606060;
    cursor: pointer;
}

.user-about span {
    width: 60%;
    color: rgb(21, 24, 44);
}
.user-about {
    width: 70%;
    border-bottom: 2px solid whitesmoke;
}

.bottom-card {
    min-height: 120px;
    // background-color: $clr-container;
    border-radius: 10px;
    position: relative;
    h1 {
        font-size: 1.2rem;
    }
}

.follow-container {
    padding-top: 10px;
    border-top: 1px solid rgb(196, 196, 196);
    margin-top: 20px;
}

.follow-list {
    display: grid;
    grid-template-rows: repeat(auto-fill, 60px);
    grid-template-columns: repeat(auto-fit, 60px);
}

.follow-avatar {
    @include aspect-ratio(1, 1);
    width: 60px;
    img {
        border-radius: 50%;
    }
}

.user-jams-list {
    background-color: $clr-container;
    margin-top: 60px;
    h1 {
        font-size: rem(40px);
        text-align: center;
    }
}
.user-talents ul li {
    font-size: 0.875rem;
}
.user-nav .user-avater-link {
    padding: 0 !important;
}

.following h1 {
    font-size: 1.2rem;
}

.jam-attending-section {
}
@media (max-width: $narrow-breakpoint) {
    .user-section {
        flex-direction: column;
        section {
            width: 100%;

        }
        .attending-list {
            width: 100%;
        }
        // .right-side > *{
            
        // }
    }
}