.section {
    background-color: $clr-container;
    border-radius: 10px;
    height: 100%;
    flex-grow: 1;
}
.filtered-jams h1 {
            padding: 30px;
        }

.attending-list h1 {
    padding-top: 20px;
}

.user-details-aside {
    width: 350px;
    padding: 20px;
    button {
        margin-top: 30px;
        width: 200px;
        font-size: 1.5rem;
        border-radius: 5px;
        padding: 10px;
        font-family: "Source-Sans";
        cursor: pointer;
        background-color: rgb(249, 249, 250);
        color: rgb(159, 161, 161);
        border: solid $clr3 2px;
        transition: all .3s ease-in-out;
        &:hover{
            background-color: $clr3;
            color: whitesmoke;
        }
    }
}

.user-section-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #f6f9fc;
}

.toolbar-left {
    display: flex;
    justify-content: space-between;
    li {
        font-size: 20px;
        cursor: pointer;
        padding: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-color: rgb(223, 221, 221);
        &.active {
            background-color: $clr-container;
        }
        &:hover{
            background-color: rgb(186, 181, 181);
        }
    }
}

.toolbar-right {
    display: flex;
    justify-content: space-between;
    li {
        margin: 10px;
    }
}

.toolbar-right button {
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "Source-Sans";
    cursor: pointer;
    background-color: rgb(249, 249, 250);
    color: rgb(159, 161, 161);
}
