// img{
//     width: 173px;
//     height: 183px;
// }

.user-box{
    // margin-top: 40px;
    // margin-left: 40px;
    // width: 800px;
    height: 400px;
    border-bottom: 2px solid whitesmoke;
    margin-top: 40px;
}
// .user-right-box{
    // width: 500px;
    // height: 200px;
    // padding-top: 37px;
    // padding-left: 100px;
    // background-color: rgb(249, 249, 250);
    // border-radius: 10px;
    // margin-top: 20px;
    // margin-left: 100px;
    // display: flex;
    // padding: 10px;
    // position: relative;
// }
.user-basic-info{
    margin-bottom: 15px;
}

.location-icon{
    display: inline;
    color: #929292;
}

.user-box p{
    display: inline;
    
}

.user-box li {
    display: inline;
    margin: 3px;
}

.user-tags-name .tags {
    background-color: #999999;
    padding: 2px;
    color: white;
    border-radius: 2px;
    font-family: Helvetica;
}

.user-img{
    width: 173px;
    height: 183px;
}
.user-location{
    margin-bottom: 20px;
}

.user-location span{
    color: #929292
}

.user-stage-name{
    color: rgb(37, 36, 43);
}

.reaction-icon{
    color: #606060;
    padding-left: 26px;
}

.user-about span{
    margin-left: 26px;
    color: rgb(21, 24, 44);
}
.user-about{
    height: 70px;
    border-bottom: 2px solid whitesmoke;
}
.talents-title{
    background-color: #72bb53;
    font-family: Helvetica;
    color: white;
    text-align: center;
    height: 25px;
    width: 90px;
    border-radius: 2px;
    line-height: 27px;
   
}
.user-right-box .titel{
    padding-bottom:20px;
    background-color: rgb(249, 249, 250);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    position: relative;
}

.followers{
    position: relative;
    display: inline-block;
    margin-top: 27px;
    // display: inline-block;
//   border-radius: 50%;
//   overflow: hidden;
//   width: 100px;
    background-color: rgb(249, 249, 250);
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    // padding: 10px;
    position: relative;
    height: 100px;
}

// .followers:not(:first-child) {
    // margin-left: -60px;
    // mask:radial-gradient(circle 55px at 5px 50%,transparent 99%,#fff 100%);
    // clip-path: circle(50% at 50% 50%);
// }

  .followers img:nth-child(2) {
      left:9% ;
  }
  .followers img:nth-child(3) {
      left:18% ;
  }
  .followers img{
    position: absolute;
    width:12%;
    display: block;
  }

  .top-card{
    width: 500px;
    height: 200px;
    padding-top: 37px;
    padding-left: 100px;
    background-color: $clr-container;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    // display: flex;
    padding: 10px;
    position: relative;
  }
  
  .bottom-card{
    width: 500px;
    height: 100px;
    padding-top: 37px;
    padding-left: 100px;
    background-color: $clr-container;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 100px;
    // display: flex;
    padding: 10px;
    position: relative;
  }
  
  
.user-jams-list {
    background-color: $clr-container;
    h1 {
        font-size: rem(40px);
        text-align: center;
    }
}