.user-box {
    margin-top: 40px;
    width: 60%;
    margin: 50px auto;
    justify-content: space-between;
    
}

.user-basic-info {
    margin-bottom: 15px;
}

.user-left-box,
.user-right-box {
    width: 100%;
}

.location-icon {
    display: inline;
    color: #929292;
}

.user-box li {
    display: inline;
    margin: 3px;
}
.user-tags {
    margin: 5px;
    gap: 5px;
    * {
        border-radius: 4px;
        background-color:#5f9ea0;
        padding: 3px;
        color: rgb(255, 255, 255);
        // border: 1px solid grey;
        background-color: #5f9ea0;
        padding: 3px;
        color: white;
        border: transparent;
        font-size: rem(14px);
    }
}

.user-img {
    @include aspect-ratio(194, 194);
    width: 100px;
    img {
        border-radius: 50%;
    }
}

.user-location span {
    color: #929292;
}

.user-stage-name {
    color: rgb(37, 36, 43);
}

.user-tags-name {
    justify-content: flex-start;
}

.reaction-icon {
    color: #606060;
    cursor: pointer;
}

.user-about span {
    width: 60%;
    color: rgb(21, 24, 44);
}
.user-about {
    width: 70%;
    border-bottom: 2px solid whitesmoke;
}
.talents-title {
    background-color: #72bb53;
    font-family: Helvetica;
    color: white;
    text-align: center;
    border-radius: 2px;
    line-height: 27px;
}

.followers {
    position: relative;
    display: inline-block;
    margin-top: 27px;
    background-color: rgb(249, 249, 250);
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    position: relative;
    height: 100px;
}

.followers img:nth-child(2) {
    left: 12%;
    z-index: 1;
}
.followers img:nth-child(3) {
    left: 22%;
    z-index: 2;
}
.followers img {
    position: absolute;
    width: 10%;
    width: 60px;
    display: block;
    bottom: 10px;
    border-radius: 50%;
}

.top-card {
    background-color: $clr-container;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    h1 {
        text-align: center;
        font-size: 2rem;
    }
}

.bottom-card {
    min-height: 120px;
    padding-top: 37px;
    background-color: $clr-container;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    h1 {
        font-size: 1.5rem;
    }
}

.user-jams-list {
    background-color: $clr-container;
    margin-top: 60px;
    h1 {
        font-size: rem(40px);
        text-align: center;
    }
}
.user-talents ul li {
    font-size: 1.3rem;
}
.user-nav .user-avater-link{
    padding: 0 !important;
}

.attending-list{
    width: 65vw;
}