// Colors
$clr-primary: #ce2e6c;
$clr-secondary: #4f3a65;
$clr-nav: #443e31;
$clr-container: rgba(238, 238, 238, 0.762);
$clr-card: #f0efef;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1200px;
$full-breakpoint: 1680px;